div.magazines {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-left: 15px;
    padding-right: 15px;
}

    .photo {
        align-items: center;
    }

    a {
        margin: 15px 0;
    }
}

.project {
    padding-top: 32px;
    padding-left: 10px;
    padding-right: 10px;

    .infos {
        h3 {
            text-align: center;
            font-size: 1.5em;
            text-transform: uppercase;
            margin: 0
        }

        p {
            margin: 0;
            text-align: center;
        }
    }

    .photo {
        margin: 15px 0;
    }

    p {
        max-width: 300px;
        white-space: pre-line;
        text-align: left;
    }
}