div.sidemenu {
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    z-index: 11;
    .mobile-logo-container {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 1000px;
        position: absolute;
        user-select: none;
        img {
            width: 225px;
        }
    }

    @media screen and (max-width: 900px) {
        width: 100%;
        justify-content: left;
        position: absolute;

        .container {
            background: none;
            width: 0px;
            padding-top: 50px;
            font-size: 28px;
            font-weight: 300;
            &.open {
                width: 50%;
                background: rgba(255, 255, 255, 0.7);
                display: block;

                li {
                    display: block;

                    a {
                        font-size: 22px;
                    }
                }
            }

            ul {
                padding-left: 25px!important;
                li {
                    display: none;
                }
            }
        }
    }

    .hamburger {
        position: absolute;
        top: 22px;
        left:20px;
        width: 35px;
        cursor: pointer;
    }

    .mobile-instagram {
        position: absolute;
        top: 22px;
        right: 20px;
        width: 35px;
        cursor: pointer;
        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    .container {
        z-index: 1;
        transition: width 0.150s ease-in;
        
        .logo {
            padding-top: 35px;
            width: 125px;
            margin-left: -10px;
        }
        
        ul {
            list-style: none;
            margin: 0;
            padding-top: 45px;
            padding-left: 0;

            li {
                margin-bottom: 15px;
                a {
                    text-transform: uppercase;
                    font-family: 'Avenir-Next';
                    text-decoration: none;
                    color: #34495e;
                    font-size: 16px;
                    animation: tracking-in-expand 0.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                    transform: scale(1);
                    transition: transform 0.1s ease-in;
                    display: inline-block;
                    &:hover {
                        transform: scale(1.1)
                    }

                    &.active {
                        text-decoration: underline;
                    }
                }
            }
        }

        .socials {
            img {
                margin-right: 5px;
                width: 20px;
                animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            }
            a {
                transform: scale(1);
                transition: transform 0.1s ease-in;
                display: inline-block;
                &:hover {
                    transform: scale(1.1)
                }
            }
        }
    }

}