.photo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;

    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

    * {
        cursor: pointer;
    }
    
    overflow: hidden;
        
    img {
        opacity: 1;
        transition: opacity 0.2s ease-in;
        width: 300px;
    }

    &.fade {
        &:hover {
            img {
                opacity: 0.7;
            }
        }
    }

    .infos {
        position: absolute;
        text-align: center;
        
        p, h1 {
            margin: 0; 
            opacity: 0;
            transition: opacity 150ms ease-in;

            @media screen and (max-width: 600px) {
                opacity: 1;
            }
        }

        h1 {
            text-transform: uppercase;
        }
    }
    &.always {
        h1, p {
            opacity: 1;
        }
    }

    &:hover {
        h1, p {
            opacity: 1;
        }
    }
}