.photo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    cursor: pointer;

    * {
        cursor: pointer;
    }
    
    img {
        transition: opacity 150ms ease-in;
    }
    .infos {
        position: absolute;
        text-align: center;
        p, h1 {
            margin: 0; 
            opacity: 0;
            transition: opacity 150ms ease-in;
        }

        h1 {
            text-transform: uppercase;
        }
        p {
            margin-top: -10px;
        }
    }

    &:hover {
        img {
            opacity: 0.7;
        }
        h1, p {
            opacity: 1;
        }
    }
}