.about {
    padding-top: 48px;
    width: 300px;
    .photo {

        @media screen and (max-width: 900px) {
            justify-content: center;
        } 
        justify-content: left;
    }
    p {
        max-width: 300px;
        padding-top: 30px;
        white-space: pre-line;
        margin: 0;
        text-align: justify;
        padding-bottom: 50px;
        text-align-last: left;
    }
}