@import "mixins";
@import "animations";
@font-face {
    font-family: 'Avenir-Next';
    src: url('../assets/fonts/AvenirNextCondensed-Regular.ttf');
}

@font-face {
    font-family: 'D-Din-Condensed-Bold';
    src: url('../assets/fonts/D-DINCondensed-Bold.otf') format('otf'),
         url('../assets/fonts/D-DINCondensed-Bold.ttf') format('truetype'),
         url('../assets/fonts/D-DINCondensed-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Avenir-Next';
    background: #fff;
    color: #445468;

    h1,h2,h3,h4 {
        font-family: 'D-Din-Condensed-Bold';
    }
    a {
        color: #445468!important;
        outline: none;
    }
}

.app {
    height: 100%;
    position: absolute;
    left: 33%;

    @media screen and (max-width: 600px) {
        left: 0;
        top: 150px;
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
}

#root > div {
    height: 100%;
}

div {
    width: auto;
    height: auto;
}