@import "mixins";
@import "animations";
@font-face {
    font-family: 'Avenir-Next';
    src: url('../assets/fonts/AvenirNextCondensed-Regular.ttf');
}

@font-face {
    font-family: 'D-DIn Condensed';
    src: url('../assets/fonts/D-DINCondensed-Bold.otf') format('otf'),
         url('../assets/fonts/D-DINCondensed-Bold.ttf') format('truetype'),
         url('../assets/fonts/D-DINCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}



/**
 * Fix fonts that render as bold in Firefox
 *
 * Put this near the top of your style.css
 * Before any overriding styles
 */

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}

/**
 * Firefox specific rule
 */

@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}




body, html, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Avenir-Next';
    background: #fff;
    color: #445468;

    h1,h2,h3,h4 {
        font-family: 'D-Din Condensed';
        font-weight: bold;
    }
    a {
        color: #445468!important;
        outline: none;
    }
}

.align-center {
    display: flex;
    justify-content: center;
}
.app {
    position: absolute;
    
    @media screen and (max-width: 900px) {
        padding-bottom: 25px;
        left: 0;
        top: 150px;
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
}

#root > div {
    height: 100%;
}

div {
    width: auto;
    height: auto;
}